<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/menu">Menu</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">1120 E Linn St<br>Canton, IL 61520</a>
                    </li>
                    <li>
                        <a href="tel:555-779-4407">T: (309) 224-5929</a>
                    </li>
                    <li>
                        <a href="mailto:email@email.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/bmc-logo-2-dark-mode.svg" alt="logo" width="264" height="264"></a>
        </div>
    </div>

    <div class="credit">
        <span>Hand Coded by</span>
        <a href="lancecarter.org" role="button"  target="_blank" rel="noopener">Apollo Web Technology</a>
        <span class="copyright"> Copyright 2023 - Present</span>
    </div>
</footer>